  <!-- Footer -->

  <footer id="footer">

    <i class="footer-icon fab fa-twitter"></i>
    <i class="footer-icon fab fa-facebook-f"></i>
    <i class="footer-icon fab fa-instagram"></i>
    <i class="footer-icon far fa-envelope"></i>
    <p> Coding-Buddy&copy; <%= copyRights %> 2020</p>

  </footer>

</body>

</html>
