<%- include('partials/header.ejs') %>

  <section id="title">
    <div class="Intro">

      <!--Partial navbar-->
      <%- include('partials/navbarFrontend.ejs') %>

    </div>
  </section>

  <section>
    <div class="Intro_paragraph">
      <p>Front-End development solely focuses on client-side development.
        These developers' job is to work on the HTML, CSS, and JavaScript part
        of a website. These are not the only languages they mainly focused on,
        but these are the primary pillars of any website you see today.
        The Hypertext-Markup language(HTML) and Cascading Stylesheet(CSS) may not
        have changed much over the years except their new updated versions, but
        JavaScript has evolved considerably over the years. Even though a developer
        is working on the Front-End, their job starts developing an idea to
        present it to the Back-End developers. A developer with significant
        knowledge about Front-End development can also explore Web-Design,
        Software Engineer, or a Project Engineer. </p>
         
        <!--Lorem Ipsum fake data-->
        <p><%= fakeInfo %></p>
      <img class="webpage_img" src="/img/frontendmap.jpg" alt="Fron-End Map">
      <div class="sources">
        <p><sup>***</sup>Images are downloaded from Google.</p>
      </div>
    </div>
  </section>

  <!-- This paragraph explains the table below -->
  <section>
    <div class="Intro_paragraph">
        <p>Here are a few of the skill set that a Front-End Developer uses on daily basis.
        Since all the web developers use HTML, CSS, and JS in one way or another throughout
        their working career, I place these under the essential languages section.
        All the websites in the world have some content using these essential languages.
        Besides these essential languages, a Front-End developer also works with several
        different frameworks as listed a few of them and carries out other duts such
        as those under the other skills section.</p>
    </div>
  </section>

  <!-- This section is used for table on the page -->
  <section>
    <div class="table">
      <table>
                  <tr id="table-header">
                        <td><strong>Essential Languages</strong></td>
                        <td><strong>Frameworks</strong></td>
                        <td><strong>Other Skills</strong></td>
                  </tr>
                  <tr class="table-row">
                        <td>HTML</td>
                        <td>AngularJS</td>
                        <td>CSS Preprocessors</td>

                  </tr>
                  <tr class="table-row">
                        <td>CSS</td>
                        <td>Backbone</td>
                        <td>RESTful APIs</td>
                  </tr>
                  <tr class="table-row">
                        <td>JavaScript</td>
                        <td>Ember</td>
                        <td>Cross-Browser Development</td>
                  </tr>
                  <tr class="table-row">
                        <td>jQuery</td>
                        <td>ReactJS</td>
                        <td>Testing/Debugging</td>
                  </tr>
            </table>
    </div>
  </section>
<%- include('partials/footer.ejs') %>
