<%- include('partials/header.ejs') %>
  <section id="title">
    <div class="Intro homepage">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Coding-Buddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/fullstack">Full-Stack</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/frontend">Front-End</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/backend">Back-End</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Intro -->

      <div class="row">
        <div class="col-lg-6">
          <h1>Coding Buddy is here to guide you through the Web Development Program. With web development, you can explore fields
            such as Full-Stack development or work either as a Front-End or a Back-End Developer. Web Development is highly
            in demand, and companies worldwide are always looking to hire knowledgeable web developers. A person with any
            background can easily switch their career. Within starting the course, a person can start applying for junior
            level positions and gain the necessary working experience. Click on each link to know more about different fields of web development.</h1>
          <button id="iphone-btn" type="button" class="btn btn-dark btn-lg"><i class="fab fa-apple"></i> Download</button>
          <button id="google-btn" type="button" class="btn btn-outline-light btn-lg"><i class="fab fa-google-play"></i> Download</button>
        </div>
        <div class="col-lg-6">
          <img id="codingbuddy" src="/img/CodingBuddy.png" alt="Coding Guy Image">
          <div class="sources frontpage_source">
            <p><sup>***</sup>Images are downloaded from Google.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('partials/footer.ejs') %>
